<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nombre</th>
      <th scope="col">Fecha de Nacimiento</th>
      <th scope="col">Telefono</th>
      <th scope="col">Direccion</th>
      <th scope="col">Tarjeta de Credito</th>
      <th scope="col">Franquicia</th>
      <th scope="col">Email</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
      {{#each contacts}}
    <tr>
      <th scope="row">{{id}}</th>
      <td>{{name}}</td>
      <td>{{ timeformat date_birth }}</td>
      <td>{{phone}}</td>
      <td>{{address}}</td>
      <td>{{ desencrycard number_card }}</td>
      <td>{{franchise_card}}</td>
      <td>{{email}}</td>
      <td>{{status}}</td>
    </tr>
    {{else}}
        <div class="col-md-4 mx-auto">
            <div class="card card-body text-center">
                <p>No se ha guardado ningun contacto.</p>
                <a href="/contacts/add">Cargar archivo</a>
            </div>
        </div>
    {{/each}}
  </tbody>
</table>